@import './variables';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    font-family: $font-stack;
}

.container{
    margin: 100px auto;
    min-width: 60%;
    max-width: 1024px;
}

.btn-quote{
    text-decoration: none;
    display: block;
    margin: 50px auto;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: $btn-color;
    color: #ffff;
}

.btn-quote:active, .btn-quote:focus{
    border: none;
}

.btn-quote:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.q-container{
    background-color: $bg-container;
    padding: 50px;
    box-shadow: 8px 8px 5px #b3c5d7;
    border-radius: 10px;
    margin: 0px 20px;

    .q-text{
        font-size: 2em;
    }

    .q-author{
        color: #6a6b83;
        margin-top: 30px;
        font-size: 1.5em; 
        text-align: right;
    }

    .q-copy{
        text-align: right;
        position: relative;
        top: 10;
        right: 0;
        color: $btn-color;
        margin-bottom: 10px;
    }

    .q-copy:hover{
        cursor: pointer;
    }
}


@media only screen and (max-width : 1224px) {
  
}

@media only screen and (max-device-width : 768px){

    .container{
        margin: 50px auto;
    }

    .btn-quote{
        margin: 40px auto;
    }
    .q-container{
        padding: 20px;
        margin: 0px 20px;
        .q-text{
            font-size: 1em;
        }

        .q-author{
            margin-top: 20px;
            font-size: .8em; 
        }
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


}



